@model IEnumerable<busproject.Models.Chuyenxe>

@{
    ViewBag.Title = "Loc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loc</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaydi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sokm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.loaive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngaydi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sokm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaive)
        </td>
    </tr>
}

</table>
