@model busproject.Models.Chuyenxe

@{
    ViewBag.Title = "ThemChuyenxe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>
<body style="max-width:12000px; margin:auto;">
    <div style="margin-top: 100px;text-align: center; margin-bottom: 25px;">
        <h2 style=" padding: 30px 0px;">Tạo Chuyến Xe </h2>
        <div>
            <img src="~/Content/images/img.jpg" />
        </div>
        @using (Html.BeginForm("ThemChuyenxe", "Chuyenxe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            if (ViewBag.ErrorRegister != null)
            {
                <p>@ViewBag.ErrorRegister</p>
            }
            <div>
                <tr>
                    <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                        <p style=" margin: 0px;">Nhập Điểm Xuất Phát: </p>
                        <input id="start" name="start" type="text" value="" style="border: 0px; border-bottom: 0.5px solid#00000030; margin-left: 20px; width: 500px; ">
                    <td>@Html.ValidationMessageFor(model => model.start)</td>
            </div>
            </tr>
            <tr>
                <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                    <p style=" margin: 0px;">Nhập Điểm đến: </p>
                    <input id="end" name="end" type="text" value="" style="border: 0px; border-bottom: 0.5px solid#00000030; margin-left: 20px; width: 500px; ">
                <td>@Html.ValidationMessageFor(model => model.end)</td>
        </div>
        </tr>
        <tr>
            <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                <p style=" margin: 0px;">Nhập Ngày Khời Hành: </p>
                <input id="ngaydi" name="ngaydi" type="date" value="" style="border: 0px; border-bottom: 0.5px solid#00000030; margin-left: 20px; width: 500px; ">
            <td>@Html.ValidationMessageFor(model => model.ngaydi)</td>
            @if (ViewBag.ErrorInfo == null)
            {
                <p> @ViewBag.ErrorInfo</p>
            }
            </div>
        </tr>
        <tr>
            <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                <p style=" margin: 0px;">Nhập Giá Vé: </p>
                <input id="gia" name="gia" type="text" value="" style="border: 0px; border-bottom: 0.5px solid#00000030; margin-left: 20px; width: 500px; ">
            <td>@Html.ValidationMessageFor(model => model.gia)</td>
            </div>
        </tr>
        <tr>
            <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                <p style=" margin: 0px;">Nhập Số km Di Chuyển: </p>
                <input id="sokm" name="sokm" type="text" value="" style="border: 0px; border-bottom: 0.5px solid#00000030; margin-left: 20px; width: 500px; ">
            <td>@Html.ValidationMessageFor(model => model.sokm)</td>
            </div>
        </tr>
        <tr>
            <div style="display: flex; margin-left: 400px; padding: 30px 0px; ">
                <p style=" margin: 0px;">Nhập loại ghế: </p>
                <input id="loaive" name="loaive" type="text" value="" style="border: 0px; border-bottom: 0.5px solid#00000030; margin-left: 20px; width: 500px; ">
            <td>@Html.ValidationMessageFor(model => model.loaive)</td>
            </div>
        </tr>
        <tr>
            <div style="padding: 20px 0px; ">
            <td><input type="submit" value="Tạo Chuyến Xe" style=" padding: 5px 30px; border-radius: 10px; border: 1px; background-color: #ff255b;" /></td>
            </div>
        </tr>
        </div>
    }
        </div>
    </body>
